version: 2

jobs:
  "RxGoogleMaps CI":
    macos:
      xcode: 11.3.0 # Specify the Xcode version to use

    steps:
      - checkout
      - run: 
          name: Install Pods
          command: pod install
      - run: 
          name: Setup PipeLine
          command: set -o pipefail 
      - run: 
          name: XCode Build Example
          command: xcodebuild build -scheme 'Example' -workspace 'RxGoogleMaps.xcworkspace' -sdk iphonesimulator -destination "name=iPhone 8" | xcpretty -c

  "RxGoogleMaps Release":
    working_directory: ~/RxSwiftCommunity/RxGoogleMaps
    parallelism: 1
    shell: /bin/bash --login
    environment:
      LANG: en_US.UTF-8
    macos:
      xcode: 11.3.0
    steps:
      - checkout
      - run:
          name: Setup CocoaPods
          command: pod setup
      - run:
          name: Override Circle CI Config
          command: rm ~/.cocoapods/config.yaml # This hack is needed since CircleCI forces --verbose
      - run:
          name: Push Podspec to Trunk
          command: pod trunk push --swift-version=5×¥0 --skip-tests --allow-warnings

workflows:
  version: 2
  build:
    jobs:
      - "RxGoogleMaps CI":
          filters:
            tags:
              ignore: /[0-9]+(\.[0-9]+)*/
  release:
    jobs:
      - "RxGoogleMaps Release":
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[0-9]+(\.[0-9]+)*/